* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Bungee Spice", cursive;
  font-family: "Lobster", cursive;
  font-family: "Niconne", cursive;
}
/* preloader of the web page  */
#preloader {
  background: black url("./Images/preloader/preloader.gif") no-repeat center
    center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* preloader of the web page  */

/* coupon css  */
#coupon {
  float: left;
  width: 40%;
  background-color: gray;
  margin-left: 32%;
  position: absolute;
  z-index: 100;
  margin-top: 100px;
  visibility: hidden;
  opacity: unset !important;
}
.couponimg {
  width: 100%;
}
/* coupon css  */

header {
  margin: 0 !important;
  width: 100%;
  position: fixed;
  z-index: 10;
}
nav {
  background-color: aliceblue;
}

/* light mode and dark mode  */

body {
  background-color: white;
  color: black;
}
.mydark {
  background-color: black;
  color: white;
}
#icon {
  width: 26px;
  cursor: pointer;
}

/* light mode and dark mode  */
.videocontent {
  background: url("./Images/video/3zF.gif") no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  padding: 0;
  margin: 0;
}
.text-location {
  text-align: center;
  padding-top: 15%;
  font-size: 400%;
  font-family: "Bungee Spice", cursive;
  font-family: "Lobster", cursive;
  font-family: "Niconne", cursive;
}
.location {
  background-color: aliceblue;
  margin: auto;
  width: 65%;
  padding-bottom: 8px;
  padding-right: 5px;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
  
}
#loc-icon{
  position: relative;
  top: 5px;
  left: 5px;
  
  color: orange;
  padding-left: 8px;
  font-size: larger;
}
.pholder{
  color: black;
  position: relative;
  top: 5px;
  left: 15px;
  

}
.pillcontent {
  width: 80%;
}
main {
  padding-top: 56px;
  margin-top: 0;
}
.carousel_width {
  width: 60%;
}
.carouselimg {
  position: relative;
}
.margin {
  height: 60vh;
  margin-left: 30%;
}
.accord {
  position: relative;
  z-index: 1;
}

/* main content */

/* main content */

.foot {
  position: relative;
  z-index: 1;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: aliceblue;
}
.liststyle {
  list-style: none;
}
.liststyle > a:hover {
  text-decoration: underline;
}
